body {
    font-family: 'Lora', serif;
    background-color: #e6e5e5;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.admin-wrapper {
    display: flex;
    width: 100%;
}
.left-sidebar {
    width: 20%;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh; /* Full height */
}
.left-sidebar ul {
    list-style-type: none;
    padding: 0;
}
.left-sidebar ul li {
    margin: 15px 0;
}
.left-sidebar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}
.left-sidebar ul li a:hover {
    background: #ff6600;
}
.admin-content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}
.button-group {
    margin-bottom: 20px;
}
.btn {
    background: #050505;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    display: inline-block;
}
.btn:hover {
    background: #e65c00;
}
.content {
    background: #fdfcfc;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}
.content h2,h3 {
    color: #030303;
}
.page-title {
    margin-bottom: 20px;
}
form div {
    margin-bottom: 20px;
}
.text-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #fcfafa;
    color: #070707;
}
#editor {
    background: #fdfbfb;
    color: #030303;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
}
.btn-big {
    background: #0a0a0a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    display: inline-block;
}
.btn-big:hover {
    background: #e65c00;
}
